<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.syth.sweet.area.dao.mapper.AreaDOMapper">

    <select id="getAreaDOById" resultMap="areaDOMap">
        SELECT *
        FROM `area`
        WHERE `id` = #{id}
    </select>

    <select id="listChildren" resultMap="areaDOMap">
        SELECT *
        FROM `area`
        WHERE `parent_id` = #{id}
    </select>

    <resultMap id="areaDOMap" type="_areaDO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="level" column="level"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>
</mapper>